@import "tailwindcss";

/* Hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
   
  .swiper-pagination {
      margin-top: 15px;
    }
    
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      margin: 0 5px;
      transition: background-color 0.3s;
    }
    
    